body {
    background-color:#FFFAFA;
}

.carousel-item {
    max-height: 60vh;
} 

.container-fluid {
    padding: 0;
}

.section2-info a, .login a {
    background-color: #2f5d62;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section3-category a {
    text-decoration: none;
    color: white;  
}

.section3-category a:hover{
    opacity: 0.8; 
} 

.card-title {
    font-size: 2vw;
}

@media screen and (max-width: 570px) {

    .section3-category img {
        max-width: 90vw;
    }

    .card-title {
        font-size: 26px;
    }

}

